@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* -------Header CSS------------- */

#header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0, 0, 0, 0.2)), url(images/img-bg-main.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    border-radius: 50%;
    width: 275px;
    border: 4px outset rgba(128, 191, 255, 0.7);
}   

.user-box h1 {
    color: #e0ebeb;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 0.4px rgba(51, 255, 153, 0.5);    
}

.user-box p {
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(#ccffcc, #ccffcc);
    background-repeat: no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -300px 0;
    animation: bcolor 3s linear infinite alternate;
    margin-top: 10px;
}

@keyframes bcolor {
    100% {
        background-position: 0px 0;
    }
    0% {
        background-position: -350px 0;
    }
}

.click-btn {
    color: #a6a6a6;
    bottom: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.scroll-btn {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #9fbfdf;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span {
    border: 2px solid  #fff;
    font-size: 10px;
    border-radius: 30px;
}

.scroll-bar {
    animation: mover 1s infinite alternate;
}

@keyframes mover {
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/* @media (max-width: 844px){
    .user-box img {
        width: 200px;
    } 
    .user-box h1{
        font-size: 30px;
    }
    .user-box p {
        font-size: 18px;
    }
    .scroll-btn {
        padding: 5px 5px 10px;
        border-radius: 10px;
        bottom: 10px;
    }
    .click-btn {
        display: none;
    }
 } */

@media (max-width: 500px){
    .user-box h1{
        font-size: 36px;
        -webkit-text-stroke: 0.5px rgba(51, 51, 77, 0.4);
    }
 }

/* -----------------About----------------------- */

.about {
    padding: 100px 0;
    margin-bottom: -130px;
    background-color: #e0ebeb;
}

.about-title {
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    margin-left: 40px;
    text-shadow: 2px 2px 4px rgba(50,23,77,0.4);
}

.about-text {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    text-align: justify;
    border-radius: 10px;
    background-color: #d1d1e0;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(134, 134, 172,0.5);
}
 
.about-text:hover {
    background-color: #5c5c8a;
    color: #fff;
    box-shadow: 5px 5px 9px rgba(134, 45, 134, 0.8);
    transition: 0.5s all ease-in-out;
}

.about-text span {
    padding-left: 20px;
}

.logo {
    border: 3px outset #cc99ff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 8px rgba(134, 45, 134, 0.6);
    transition: transform 0.3s;
}

.logo:hover {
    box-shadow: -5px 5px 8px rgba(173, 235, 235, 0.8);
    transform: translateY(-2px);
}

.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar {
    background: linear-gradient(to right,rgba(92, 92, 138, 0.8), rgba(41, 41, 61, 1));
}

.navbar-brand img {
    height: 40px;
}

.nav-bar .fa-bars {
    font-size: 30px;
    color: #fff;
}

.navbar-toggler {
    outline: none !important
}

.navbar-nav {
    float: right;
    text-align: right;
}

.nav-link {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto';
    margin-right: 5px;
    color: #fff !important;
    transition: transform 0.5s;
}

.nav-link:hover {
    border:1px solid #cc99ff;
    border-radius: 15px;
    color: #cc99ff !important;
    text-decoration: underline;
    transform: translateY(-4px);
    text-shadow:3px -3px 6px rgba(255, 255, 255, 0.5);
    box-shadow: -2px 2px 6px rgba(204, 153, 255, 0.5);
}

.col-md-6-box{
    margin: 7% 0%;
    padding: 0;
    overflow: hidden;
    border-bottom-right-radius: 7vw;
    border-top-left-radius: 7vw;
    border: 4px #6699cc inset;
    box-shadow: 5px 5px 9px rgba(134, 134, 172,0.5);
}

.col-md-6-box:hover {
    box-shadow: 8px 8px 12px rgba(119,139,165,0.8);
    transition: 0.5s all ease-in-out;
}

.profile-img {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
    filter: grayscale(100%);
}

.profile-img:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    filter: grayscale(0);
}

/* --------------------CV/Resume------------------------- */

.resume {
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:#e1eaea;
}

.resume h3 {
    font-family: 'Space Mono', 'Roboto';
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(50,23,77,0.4);
}

.col-md-6-edu {
    margin-top: 50px;
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline::before {
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #e1eaea;
}

.timeline li h4 {
    background-color: #5c5c8a;
    border-radius: 8px;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}

.timeline li h4 span {
    font-weight: bold;
    color: #ccc;
}

.timeline li:before {
    content: '';
    background: #b3ccff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #000;
    left: 22.5px;
    width: 15px;
    height: 15px;
    z-index: 1;
}

.timeline-title {
    padding: 0 4px;
    background-color: #b3ccff;
    border-radius: 4px;
    color: #000;
}

.timeline li p {
    margin-bottom: 0;
}

.timeline_content {
    margin-left: 1.5rem;
}

.col-md-6-box-job{
    margin: 11% 5%;
    padding: 0;
    overflow: hidden;
    border-bottom-right-radius: 7vw;
    border-top-left-radius: 7vw;
    border: 4px #666699 inset;
    box-shadow: 0 12px 10px rgba(134, 134, 172,0.6);
}

.img-job {
    width: 100%;
    transition: 0.5s all ease-in-out;
    filter: grayscale(100%);
}

.col-md-6-box-edu {
    margin: 20% 5%;
    padding: 0;
    overflow: hidden;
    border-bottom-right-radius: 7vw;
    border-top-left-radius: 7vw;
    border: 4px #666699 inset;
    box-shadow: 0 12px 10px rgba(134, 134, 172,0.6);
}

.col-md-6-box-edu:hover,
.col-md-6-box-job:hover{
    box-shadow: 0 12px 10px rgba(134, 134, 172,0.95);
    border-top-right-radius: 7vw;
    border-bottom-left-radius: 7vw;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    transition:0.6s;
}

.img-edu{
    width: 100%;
    transition: 0.5s all ease-in-out;
    filter: grayscale(100%);
}

.img-edu:hover,
.img-job:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    filter: grayscale(0);
}

/* ------------------Skills-------------------------- */

.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#e1eaea;
}

.skills h3 {
    font-family: 'Space Mono', 'Roboto';
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(50,23,77,0.4);
}

.skills-box {
    background: #d1d1e0;
    padding: 10px;
    margin-top: 20px;
    height: 320px;
    border: 1px solid #dda0dd;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 4px 4px 6px rgba(134, 134, 172,0.6);
}

.skills-box:hover {
    background: #5c5c8a;
    color: #fff;
    border: 1px solid #d8bfd8;
    box-shadow: 7px 7px 10px rgba(134, 134, 172,0.9);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

.skills-box .fa {
    margin: 0 15px;
    font-size: 20px;
}

.skills-box
.dev-list
.fa-square-arrow-up-right{
    font-size: 20px;
    margin-left: 0px;
}

.skills-box span {
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
}

.skills-box p {
    font-size: 14px;
    margin-top: 20px;
    color: #3d3d5c;
}

.skills-box p:hover {
    color: #fff;
}

.skills-box ul {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    margin-top: 20px;
}

.skills-box ul li {
    margin-bottom: 6px;
}

.skills-box ul li:hover {
    text-decoration: underline;
    color: #ffaa80;
}

.dev-list {
    width: 200px;
    margin-top: 20px;
    margin-left: 45px;
}

.dev-list_link {
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    color: coral;
    font-weight: 600;
    border-bottom: 1px solid rgba(251,79,20,0.8);
    border-color: transparent;    
}

.dev-list_link:hover {
    text-decoration: none;
    color: #fff;
    border-color: rgba(255,126,0,0.6);
    text-shadow: 3px 3px 6px rgba(251,79,20,0.8);
    transition: 0.5s;
}

.skills-bar {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.skills-bar p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    color: coral;
}

.skills-bar p a {
    text-decoration: none;
    color: coral;
}

.skills-bar p a:hover {
    color: #fff;
    text-shadow: 3px 3px 4px rgba(251,79,20,0.9);
    transition: 0.5s;
    text-decoration: underline;
}

.skills-bar,
.fa-brands,
.fa-solid {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 22px;
}

.progress {
    border: 1px solid #b3b3cc;
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
    background: #666699 !important;
}

.progress-bar:hover {
    background: coral !important;
}

@media (max-width: 1180px) {
    .skills-box ul li {
        font-size: 14px;
        margin-bottom: 0px;
        line-height: 1.6;
    }
}

@media (max-width: 914px) {
    .skills-box {
        font-size: 14px;
    }
    .skills-box span {
        font-size: 12px;
    }
    .skills-box ul li {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 1.3;
    }
    .skills-box ul li .fa {
        font-size: 16px;
    }
    .dev-list {
        margin-left: 0px;
    }
    .skills-bar {
        margin: 0 5%;
        margin-top: 0px;
    }
}

@media (max-width: 430px) {
    .user-box h1{
        font-size: 36px;
        -webkit-text-stroke: unset;
       }
    .dev-list {
        margin-left: 50px;
    }
    .skills-box span {
        font-size: 16px;
    }
    .skills-box ul li {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 1.5;
    }
    .skills-box ul li .fa {
        font-size: 20px;
    }
    .skills-bar {
        margin: 0 10%;
        margin-top: 20px;
    }
}

/* -----------------------Contact---------------------------- */

.contact {
    padding: 50px;
    background: linear-gradient(rgba(31, 31, 46,0.3),rgba(31, 31, 46, 0.4)), url(images/img-bg-cont.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.contact h1 {
    font-family: 'Space Mono', 'Roboto';
}

.contact .row {
    padding: 30px 0px;
    font-size: 22px;
}

.contact .col-md-4 .fa {
    padding: 10px;
    font-size: 40px;
}

.download-link {
    text-decoration: none;
    color: #fff;
}

.download-link:hover {
    text-decoration: none;
    color: #cc99ff;
    text-shadow: -2px -2px 4px rgba(204, 204, 204, 0.5)
}

.contact .btn {
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}

.contact .btn:focus {
    box-shadow: none !important;
}

.contact .btn:hover {
    border: 2px solid #cc99ff !important;
    background: rgba(92, 92, 138, 0.8) !important;
    transition: 1s;
    color: #cc99ff;
}

.contact .btn .fa {
    margin-right: 10px;
}

.footer {
    background: linear-gradient(to right,rgba(92, 92, 138, 0.7), rgba(41, 41, 61, 0.9));
    height: 50px;
    color: #fff;
    padding-top: 15px;
}

.footer span {
    color: coral;
    text-shadow: 2px -2px 5px rgba(255, 187, 153, 0.9);
    font-weight: 600;
}

.fa-heart-o {
    color: #cc99ff;
}

.contact .container .row .col-md-4 a {
    color: #fff;
    text-decoration: none;
}

.contact .container .row .col-md-4 a:hover {
    text-decoration: underline;
    color: #cc99ff;
    text-shadow: -2px -2px 4px rgba(204, 204, 204, 0.5);
} 

/* -----------Social Icons------------------ */

.social-icons {
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}

.social-icons ul {
    padding: initial;  
}

.social-icons ul li {
    height: 40px;
    width: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    color: #fff;
    background: #33334d;
}

.social-icons ul li:hover {
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

.social-icons ul a li .fa:hover {
    border-radius: 30%;
    color: coral;
    box-shadow: -2px 2px 5px rgba(173, 235, 235, 0.4);
}

.social-icons ul a li .fa {
    color: lightgray;
    font-size: 16px;
}